@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Montserrat&display=swap');

$ff-anonymous: 'Anonymous Pro', monospace;
$ff-montserrat: 'Montserrat', sans-serif;

$gray-1: #404040;
$gray-2: #828282;