@import "variables";

header {
    font-family: $ff-anonymous;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $gray-2;
        padding: 10px 0;
    }

    .site-title {
        display: flex;
        align-items: center;
        color: $gray-1;
        h1 {
            font-size: 28px;
            margin: 5px 0 5px 10px;
        }
    }
}